<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>接口返回正常</string>
	<key>-1000</key>
	<string>网络繁忙,稍后重试</string>
	<key>-1001</key>
	<string>服务器内部接口字段修饰符错误</string>
	<key>-1</key>
	<string>参数为空</string>
	<key>-2</key>
	<string>参数长度不等于</string>
	<key>-3</key>
	<string>参数不为数字</string>
	<key>-4</key>
	<string>参数长度大于</string>
	<key>-5</key>
	<string>参数不符合格式</string>
	<key>-6</key>
	<string>登录会话超时</string>
	<key>-7</key>
	<string>设备没有授权</string>
	<key>-8</key>
	<string>签名异常</string>
	<key>-9</key>
	<string>接口请求非使用POST</string>
	<key>-10</key>
	<string>登录会话无效</string>
	<key>-11</key>
	<string>文件为空</string>
	<key>-12</key>
	<string>获取文件名失败</string>
	<key>-13</key>
	<string>时间错误</string>
	<key>-14</key>
	<string>用户已存在</string>
	<key>-15</key>
	<string>用户名已存在</string>
	<key>-16</key>
	<string>身份证已存在</string>
	<key>-17</key>
	<string>邮件地址已存在</string>
	<key>-18</key>
	<string>手机号已存在</string>
	<key>-19</key>
	<string>专家待审核状态</string>
	<key>-20</key>
	<string>用户信息更新失败</string>
	<key>-21</key>
	<string>用户信息查询失败</string>
	<key>-22</key>
	<string>专家信息更新失败</string>
	<key>-23</key>
	<string>专家信息查询失败</string>
	<key>-24</key>
	<string>发送短信失败</string>
	<key>-25</key>
	<string>查询客服留言失败</string>
	<key>-26</key>
	<string>查询公告失败</string>
	<key>-27</key>
	<string>查询新消息提醒失败</string>
	<key>-28</key>
	<string>查询个人消息失败</string>
	<key>-29</key>
	<string>重置新消息数失败</string>
	<key>-30</key>
	<string>发送客服信息失败</string>
	<key>-31</key>
	<string>查询版本信息失败</string>
	<key>-32</key>
	<string>增加专家账户失败</string>
	<key>-33</key>
	<string>保存用户会话失败</string>
	<key>-34</key>
	<string>专家未注册</string>
	<key>-35</key>
	<string>专家状态无效</string>
	<key>-36</key>
	<string>专家密码错误</string>
	<key>-37</key>
	<string>查询托管请求错误</string>
	<key>-38</key>
	<string>审核托管请求错误</string>
	<key>-39</key>
	<string>查询科室错误</string>
	<key>-40</key>
	<string>新增托管请求错误</string>
	<key>-41</key>
	<string>增加用户账户错误</string>
	<key>-42</key>
	<string>用户未注册</string>
	<key>-43</key>
	<string>用户状态无效</string>
	<key>-44</key>
	<string>用户名或密码不匹配</string>
	<key>-45</key>
	<string>删除用户编好错误</string>
	<key>-46</key>
	<string>新增用户编好错误</string>
	<key>-47</key>
	<string>修改用户编好错误</string>
	<key>-48</key>
	<string>查询病史附件错误</string>
	<key>-49</key>
	<string>查询病史错误</string>
	<key>-50</key>
	<string>删除病史附件错误</string>
	<key>-51</key>
	<string>删除病史错误</string>
	<key>-52</key>
	<string>新增病史错误</string>
	<key>-53</key>
	<string>更新病史错误</string>
	<key>-54</key>
	<string>新增病史附件错误</string>
	<key>-55</key>
	<string>查询医生建议错误</string>
	<key>-56</key>
	<string>验证码错误</string>
	<key>-57</key>
	<string>验证码已失效</string>
	<key>-58</key>
	<string>手机号没有找到验证码</string>
	<key>-59</key>
	<string>发送失败，超过每天可发送的最大数值</string>
	<key>-60</key>
	<string>查找检测日志错误</string>
	<key>-61</key>
	<string>查找饮食日志错误</string>
	<key>-62</key>
	<string>新增饮食日志错误</string>
	<key>-63</key>
	<string>编辑饮食日志错误</string>
	<key>-64</key>
	<string>删除饮食日志错误</string>
	<key>-65</key>
	<string>查找运动日志错误</string>
	<key>-66</key>
	<string>新增运动日志错误</string>
	<key>-67</key>
	<string>编辑运动日志错误</string>
	<key>-68</key>
	<string>删除运动日志错误</string>
	<key>-69</key>
	<string>查找用药日志错误</string>
	<key>-70</key>
	<string>新增用药日志错误</string>
	<key>-71</key>
	<string>编辑用药日志错误</string>
	<key>-72</key>
	<string>删除用药日志错误</string>
	<key>-73</key>
	<string>不能删除设备检测日志</string>
	<key>-74</key>
	<string>新增设备检测日志错误</string>
	<key>-75</key>
	<string>编辑设备检测日志错误</string>
	<key>-76</key>
	<string>删除检测日志错误</string>
	<key>-77</key>
	<string>编辑检测日志错误</string>
	<key>-78</key>
	<string>新增医生建议错误</string>
	<key>-79</key>
	<string>查找控糖成效错误</string>
	<key>-80</key>
	<string>发送反馈记录失败</string>
	<key>-81</key>
	<string>服务中心信息查询失败</string>
	<key>-82</key>
	<string>格式错误</string>
	<key>-83</key>
	<string>饮食格式错误</string>
	<key>-84</key>
	<string>用药格式错误</string>
	<key>-85</key>
	<string>同一时间不能增加多条日志</string>
	<key>-86</key>
	<string>同一时间不能增加多条日志</string>
	<key>-87</key>
	<string>同一时间不能增加多条日志</string>
	<key>-88</key>
	<string>同一时间不能增加多条日志</string>
	<key>-89</key>
	<string>手机号格式错误</string>
	<key>-90</key>
	<string>短信发送太频繁</string>
	<key>-91</key>
	<string>短信发送同一分钟不能超过1次</string>
</dict>
</plist>
