<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Glibenclamide</string>
	<string>Gliclazide</string>
	<string>Glipizide</string>
	<string>Gliquidone</string>
	<string>Glimepiride</string>
	<string>Repaglinide</string>
	<string>Metformin</string>
	<string>Acarbose</string>
	<string>Rosiglitazone</string>
	<string>Pioglitazone</string>
	<string>Custom</string>
</array>
</plist>
