<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>西洋菜</key>
	<string>0.17</string>
	<key>苹果</key>
	<string>0.52</string>
	<key>香蕉</key>
	<string>0.91</string>
	<key>西红柿</key>
	<string>0.19</string>
	<key>黄瓜</key>
	<string>0.15</string>
	<key>西瓜</key>
	<string>0.25</string>
	<key>桃子</key>
	<string>0.48</string>
	<key>橙子</key>
	<string>0.47</string>
	<key>枣</key>
	<string>2.64</string>
	<key>梨</key>
	<string>0.44</string>
	<key>生菜</key>
	<string>0.15</string>
	<key>大白菜</key>
	<string>0.14</string>
	<key>芥菜</key>
	<string>0.14</string>
	<key>葱</key>
	<string>0.24</string>
	<key>菠菜</key>
	<string>0.24</string>
	<key>香菜</key>
	<string>0.31</string>
	<key>米饭</key>
	<string>1.16</string>
	<key>玉米</key>
	<string>1.05</string>
	<key>馒头</key>
	<string>2.21</string>
	<key>燕麦片</key>
	<string>3.67</string>
	<key>面包</key>
	<string>3.12</string>
	<key>红薯</key>
	<string>0.99</string>
	<key>小米粥</key>
	<string>0.46</string>
	<key>马铃薯</key>
	<string>0.76</string>
	<key>包子</key>
	<string>2.27</string>
	<key>面条</key>
	<string>2.84</string>
	<key>鸡蛋</key>
	<string>1.44</string>
	<key>牛肉</key>
	<string>1.06</string>
	<key>瘦猪肉</key>
	<string>1.48</string>
	<key>咸蛋</key>
	<string>1.90</string>
	<key>鸡蛋白</key>
	<string>0.60</string>
	<key>鸡蛋黄</key>
	<string>3.28</string>
	<key>鸡肉</key>
	<string>1.67</string>
	<key>鱼</key>
	<string>1.13</string>
	<key>排骨</key>
	<string>2.78</string>
	<key>羊肉</key>
	<string>2.93</string>
	<key>纯牛奶</key>
	<string>0.67</string>
	<key>全脂牛奶粉</key>
	<string>4.78</string>
	<key>奶片</key>
	<string>0.62</string>
	<key>奶酪</key>
	<string>3.28</string>
	<key>脱脂牛奶</key>
	<string>0.57</string>
	<key>酸奶</key>
	<string>0.72</string>
	<key>豆浆</key>
	<string>0.14</string>
	<key>豆腐</key>
	<string>0.81</string>
	<key>花生</key>
	<string>5.80</string>
	<key>豆腐干</key>
	<string>1.40</string>
	<key>栗子</key>
	<string>2.12</string>
	<key>杏仁</key>
	<string>5.97</string>
	<key>大豆</key>
	<string>3.59</string>
	<key>开心果</key>
	<string>6.14</string>
	<key>芝麻</key>
	<string>5.31</string>
	<key>腰果</key>
	<string>5.52</string>
</dict>
</plist>
