<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>主食</key>
		<array>
			<string>米飯</string>
			<string>玉米</string>
			<string>饅頭</string>
			<string>燕麥片</string>
			<string>麵包</string>
			<string>紅薯</string>
			<string>小米粥</string>
			<string>馬鈴薯</string>
			<string>包子</string>
			<string>麵條</string>
		</array>
	</dict>
	<dict>
		<key>蔬果菌藻类</key>
		<array>
			<string>蘋果</string>
			<string>香蕉</string>
			<string>西紅柿</string>
			<string>黃瓜</string>
			<string>西瓜</string>
			<string>桃子</string>
			<string>橙子</string>
			<string>棗</string>
			<string>梨</string>
			<string>西洋菜</string>
			<string>生菜</string>
			<string>大白菜</string>
			<string>芥菜</string>
			<string>蔥</string>
			<string>菠菜</string>
			<string>香菜</string>
		</array>
	</dict>
	<dict>
		<key>蛋、肉类</key>
		<array>
			<string>雞蛋</string>
			<string>雞蛋白</string>
			<string>雞蛋黃</string>
			<string>鹹蛋</string>
			<string>瘦豬肉</string>
			<string>牛肉</string>
			<string>雞肉</string>
			<string>魚</string>
			<string>排骨</string>
			<string>羊肉</string>
		</array>
	</dict>
	<dict>
		<key>奶类</key>
		<array>
			<string>純牛奶</string>
			<string>酸奶</string>
			<string>脫脂牛奶</string>
			<string>奶酪</string>
			<string>奶片</string>
			<string>全脂牛奶粉</string>
		</array>
	</dict>
	<dict>
		<key>坚果、豆制类</key>
		<array>
			<string>豆漿</string>
			<string>豆腐</string>
			<string>花生</string>
			<string>豆腐干</string>
			<string>栗子</string>
			<string>杏仁</string>
			<string>大豆</string>
			<string>開心果</string>
			<string>芝麻</string>
			<string>腰果</string>
		</array>
	</dict>
	<dict>
		<key>其他</key>
		<array>
			<string>自定義</string>
		</array>
	</dict>
</array>
</plist>
