<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>接口返回正常</string>
	<key>-1000</key>
	<string>網絡繁忙，稍後再試</string>
	<key>-1001</key>
	<string>服務器內部接口字段修飾符錯誤</string>
	<key>-1</key>
	<string>參數為空</string>
	<key>-2</key>
	<string>參數長度不等於</string>
	<key>-3</key>
	<string>參數不為數字</string>
	<key>-4</key>
	<string>參數長度大於</string>
	<key>-5</key>
	<string>參數不符合格式</string>
	<key>-6</key>
	<string>登陸會話超時</string>
	<key>-7</key>
	<string>設備沒有授權</string>
	<key>-8</key>
	<string>簽名異常</string>
	<key>-9</key>
	<string>接口請求非使用POST</string>
	<key>-10</key>
	<string>登陸會話無效</string>
	<key>-11</key>
	<string>文件為空</string>
	<key>-12</key>
	<string>獲取文件名失效</string>
	<key>-13</key>
	<string>時間錯誤i</string>
	<key>-14</key>
	<string>用戶已存在</string>
	<key>-15</key>
	<string>用戶名已存在</string>
	<key>-16</key>
	<string>身份證已存在</string>
	<key>-17</key>
	<string>郵件地址已存在</string>
	<key>-18</key>
	<string>手機號碼已存在</string>
	<key>-19</key>
	<string>專家待審核狀態</string>
	<key>-20</key>
	<string>用戶信息更新失效</string>
	<key>-21</key>
	<string>用戶信息查询失败</string>
	<key>-22</key>
	<string>專家信息更新失败</string>
	<key>-23</key>
	<string>專家信息查询失败</string>
	<key>-24</key>
	<string>發送短信失效</string>
	<key>-25</key>
	<string>查詢客服留言失效</string>
	<key>-26</key>
	<string>查詢公告失效</string>
	<key>-27</key>
	<string>查詢新消息提醒失效</string>
	<key>-28</key>
	<string>查詢個人消息失效</string>
	<key>-29</key>
	<string>重置新消息數失效</string>
	<key>-30</key>
	<string>發送客服消息失效</string>
	<key>-31</key>
	<string>查詢版本失效</string>
	<key>-32</key>
	<string>增加專家賬戶失效</string>
	<key>-33</key>
	<string>保存用戶會話失效</string>
	<key>-34</key>
	<string>專家未註冊</string>
	<key>-35</key>
	<string>專家狀態無效</string>
	<key>-36</key>
	<string>專家密碼錯誤</string>
	<key>-37</key>
	<string>查詢託管請求錯誤</string>
	<key>-38</key>
	<string>審核託管請求錯誤</string>
	<key>-39</key>
	<string>查詢科室錯誤</string>
	<key>-40</key>
	<string>新增託管請求錯誤</string>
	<key>-41</key>
	<string>增加用戶賬戶錯誤</string>
	<key>-42</key>
	<string>用戶未註冊</string>
	<key>-43</key>
	<string>用戶狀態無效</string>
	<key>-44</key>
	<string>用戶名或密碼不匹配</string>
	<key>-45</key>
	<string>刪除用戶偏好錯誤</string>
	<key>-46</key>
	<string>新增用戶偏好錯誤</string>
	<key>-47</key>
	<string>修改用戶偏好錯誤</string>
	<key>-48</key>
	<string>查詢病史附件錯誤</string>
	<key>-49</key>
	<string>查詢病史錯誤</string>
	<key>-50</key>
	<string>刪除病史附件錯誤</string>
	<key>-51</key>
	<string>删除病史错误</string>
	<key>-52</key>
	<string>新增病史錯誤</string>
	<key>-53</key>
	<string>更新病史錯誤</string>
	<key>-54</key>
	<string>新增病史附件錯誤</string>
	<key>-55</key>
	<string>查詢醫生建議錯誤</string>
	<key>-56</key>
	<string>驗證碼錯誤</string>
	<key>-57</key>
	<string>驗證碼失效</string>
	<key>-58</key>
	<string>手機號沒有找到驗證碼</string>
	<key>-59</key>
	<string>發送失敗，超過每天可發送的最大數值</string>
	<key>-60</key>
	<string>查找檢測日誌錯誤</string>
	<key>-61</key>
	<string>查找飲食日誌錯誤</string>
	<key>-62</key>
	<string>新增飲食日誌錯誤</string>
	<key>-63</key>
	<string>編輯飲食日誌錯誤</string>
	<key>-64</key>
	<string>刪除飲食日誌錯誤</string>
	<key>-65</key>
	<string>查找運動日誌錯誤</string>
	<key>-66</key>
	<string>新增運動日誌錯誤</string>
	<key>-67</key>
	<string>編輯運動日誌錯誤</string>
	<key>-68</key>
	<string>刪除運動日誌錯誤</string>
	<key>-69</key>
	<string>查找用藥日誌錯誤</string>
	<key>-70</key>
	<string>新增用藥日誌錯誤</string>
	<key>-71</key>
	<string>編輯用藥日誌錯誤</string>
	<key>-72</key>
	<string>刪除用藥日誌錯我</string>
	<key>-73</key>
	<string>不能刪除設備檢測日誌</string>
	<key>-74</key>
	<string>新增設備檢測日誌錯誤</string>
	<key>-75</key>
	<string>編輯設備檢測日誌錯誤</string>
	<key>-76</key>
	<string>刪除檢測日誌錯誤</string>
	<key>-77</key>
	<string>編輯檢測日誌錯誤</string>
	<key>-78</key>
	<string>新增醫生建議錯誤</string>
	<key>-79</key>
	<string>查找控糖成效錯誤</string>
	<key>-80</key>
	<string>發送反饋記錄失敗</string>
	<key>-81</key>
	<string>服務中心信息查詢失效</string>
	<key>-82</key>
	<string>格式錯誤</string>
	<key>-83</key>
	<string>飲食格式錯誤</string>
	<key>-84</key>
	<string>用藥格式錯誤</string>
	<key>-85</key>
	<string>同一時間不能增加多條日誌</string>
	<key>-86</key>
	<string>同一時間不能增加多條日誌</string>
	<key>-87</key>
	<string>同一時間不能增加多條日誌</string>
	<key>-88</key>
	<string>同一時間不能增加多條日誌</string>
	<key>-89</key>
	<string>手機號格式錯誤</string>
	<key>-90</key>
	<string>短信發送太頻繁</string>
	<key>-91</key>
	<string>短信發送同一分鐘不能超過一次</string>
</dict>
</plist>
