<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>X</key>
	<array>
		<string>香港+852</string>
	</array>
	<key>Z</key>
	<array>
		<string>中国大陆+86</string>
	</array>
</dict>
</plist>
